$arduino-color: rgb(0, 146, 151);
$github-color: rgb(68, 170, 0);
$matlab-color-1: rgb(115, 25, 15);
$matlab-color-2: rgb(84, 166, 187);
$xillinx-color: rgb(238, 58, 37);
$js-color: rgb(250, 213, 0);
$sass-color: rgb(206, 103, 154);
$html-color: rgb(228, 77, 38);
$css-color: rgb(38, 77, 228);
$python-color-1: rgb(52, 116, 168);
$python-color-2: rgb(255, 212, 65);
$pcb-color: rgb(73, 196, 56);
$c-plus-color: rgb(0, 86, 151);
$trans: 0.95;
$darken: 60%;
$c-plus-color-trans: rgba(0, 86, 151, $trans);

$arduino-color-trans: rgba(0, 146, 151, $trans);
$github-color-trans: rgba(68, 170, 0, $trans);
$matlab-color-1-trans: rgba(115, 25, 15, $trans);
$matlab-color-2-trans: rgba(84, 166, 187, $trans);
$xillinx-color-trans: rgba(238, 58, 37, $trans);
$js-color-trans: rgba(250, 213, 0, $trans);
$sass-color-trans: rgba(206, 103, 154, $trans);
$html-color-trans: rgba(228, 77, 38, $trans);
$css-color-trans: rgba(38, 77, 228, $trans);
$python-color-1-trans: rgba(52, 116, 168, $trans);
$python-color-2-trans: rgba(255, 212, 65, $trans);
$pcb-color-trans: rgba(73, 196, 56, $trans);
