#educator-content {
  @include flex(column, space-between);
  margin-top: 2rem;
  .educator-text-container p {
    margin: 1rem auto;
  }
  .hover-icons-wrapper {
    margin-top: 1rem;
    position: relative;
    height: 50vh;
    .educator-icons-container > div {
      transition-property: opacity, color;
      transition-duration: $transit-time;
      transition-timing-function: ease-in-out;
    }

    .educator-icons-container {
      @include flex(row, space-around);
      position: relative;
      z-index: 5;
      .icon-container {
        max-width: 33%;
        @include flex(column, space-between);
        text-align: center;
        padding: 0.5rem 1rem;
        .icon-title {
          margin-bottom: 1rem;
        }
        .icon-text {
          width: 80%;
          margin: auto;
        }
      }
    }
    .more-info-container {
      position: relative;
      position: absolute;
      top: 0;
      left: 0;
      height: 50vh;
      z-index: 5;
      pointer-events: none;
      width: 100%;
      height: 100%;
      div,
      p {
        transition-property: opacity;
        transition-duration: $transit-time;
        transition-timing-function: ease-in-out;
        position: absolute;
        width: 100%;
        height: 100%;
        @include flex(column, space-around);
      }
      #more-info-right {
        left: 0;
        max-width: 66%;
        opacity: 0;
      }
      #more-info-left {
        right: 0;
        max-width: 66%;
        text-align: right;
        opacity: 0;
      }
      #more-info-center-left {
        right: 0;
        max-width: 33%;
        text-align: right;
        opacity: 0;
      }
      #more-info-center-right {
        left: 0;
        max-width: 33%;
        text-align: left;
        opacity: 0;
      }
    }
  }
}
$educator-bg-size: 500px;
.educator-bg-container {
  transform: scale(0);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: $transit-time;
  transition-timing-function: ease-in-out;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // border: 1px solid white;
  .educator-bg {
    transition-property: background-color, transform;
    transition-duration: $transit-time;
    transition-timing-function: ease-in-out;
    height: $educator-bg-size;
    width: $educator-bg-size;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - (#{$educator-bg-size}/ 2));
    left: calc(50% - (#{$educator-bg-size}/ 2));
    background-color: rgba(150, 200, 0, 0.5);
  }
}
