$bg-size: 750px;
$bg-half: 375px;
$icon-size: 46px;
$icon-half: 23px;
$arrow-size: 10px;
#engineer-content {
  // top: 215vh;
  margin-top: 3rem;
  @include flex(column, space-between);
  .technical-skills {
    @include flex(row, space-between);

    #skills-graph {
      // border: 1px solid white;
      min-width: 70vw;
      min-height: 80vh;
      display: grid;
      grid-template:
        "y-axis title" 1fr
        "y-axis graph" 5fr
        "y-axis x-axis" 1fr/
        1fr 9fr;
    }
    .x-label,
    .y-label,
    .graph-title {
      transition: opacity $transit-time ease-in-out;
    }
    .x-label {
      grid-area: x-axis;
      text-align: center;
      margin-top: 0.5rem;
    }
    .y-label {
      grid-area: y-axis;
      align-self: center;
      transform: rotateZ(-90deg) translateY(150%);
    }
    .graph-title {
      grid-area: title;
      text-align: center;
      margin-bottom: 1rem;
    }
    .graph-content {
      grid-area: graph;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      position: relative;
      color: white;
      transition: border-color $transit-time ease-in-out;

      img,
      i {
        font-size: $icon-size;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        display: block;
      }
      img {
        width: $icon-size;
        height: auto;
      }
      .graph-icons {
        position: absolute;
        width: $bg-size;
        height: $bg-size;

        // border: 1px solid white;

        h4,
        p {
          position: absolute;
          text-align: center;
          opacity: 0;
          transition: opacity $transit-time ease-in-out;
        }
        p {
          width: 70%;
          margin: auto;
          // border: 1px solid white;
          left: 15%;
          top: calc(50% + 75px);
        }
        h4 {
          width: 100%;
          top: calc(50% - 150px);
          // font-size: 3.5rem;
        }
        img,
        i {
          top: calc(50% - #{$icon-half});
          left: calc(50% - #{$icon-half});
          transition-property: opacity, transform;
          transition-duration: $transit-time;
          transition-timing-function: ease-in-out;
          z-index: 5;
          transform: scale(1);
          &:hover {
            transform: scale(2);
          }
        }
      }
      .python {
        left: calc(30% - #{$bg-half});
        top: calc(20% - #{$bg-half});
        .bg {
          background: linear-gradient(
            $python-color-1-trans,
            $python-color-2-trans
          );
        }
      }
      .github {
        left: calc(50% - #{$bg-half});
        top: calc(10% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $github-color-trans,
            darken($github-color-trans, $darken)
          );
        }
      }
      .javascript {
        left: calc(40% - #{$bg-half});
        top: calc(50% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $js-color-trans,
            darken($js-color-trans, $darken)
          );
        }
      }
      .html5 {
        left: calc(50% - #{$bg-half});
        top: calc(40% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $html-color-trans,
            darken($html-color-trans, $darken)
          );
        }
      }
      .css3 {
        left: calc(60% - #{$bg-half});
        top: calc(30% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $css-color-trans,
            darken($css-color-trans, $darken)
          );
        }
      }
      .sass {
        left: calc(70% - #{$bg-half});
        top: calc(20% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $sass-color-trans,
            darken($sass-color-trans, $darken)
          );
        }
      }
      .microchip {
        left: calc(55% - #{$bg-half});
        top: calc(80% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $xillinx-color-trans,
            darken($github-color-trans, $darken)
          );
        }
      }
      .pcb {
        left: calc(70% - #{$bg-half});
        top: calc(90% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $pcb-color-trans,
            darken($pcb-color-trans, $darken)
          );
        }
      }
      .c-plus {
        left: calc(20% - #{$bg-half});
        top: calc(80% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $c-plus-color-trans,
            darken($c-plus-color-trans, $darken)
          );
        }
      }
      .arduino {
        left: calc(70% - #{$bg-half});
        top: calc(70% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $arduino-color-trans,
            darken($github-color-trans, $darken)
          );
        }
      }
      .matlab {
        left: calc(30% - #{$bg-half});
        top: calc(60% - #{$bg-half});
        .bg {
          background: linear-gradient(
            #{random(360)}deg,
            $matlab-color-1-trans,
            $matlab-color-2-trans
          );
        }
      }

      .right-arrow {
        width: 0;
        height: 0;
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-left: $arrow-size solid white;
        position: absolute;
        bottom: -$arrow-size;
        right: -$arrow-size;
        transition: border-color $transit-time ease-in-out;
      }
      .up-arrow {
        width: 0;
        height: 0;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        border-bottom: $arrow-size solid white;
        position: absolute;
        top: -$arrow-size;
        left: -$arrow-size;
        transition: border-color $transit-time ease-in-out;
      }
    }
  }
}
.soft-skills {
  margin-top: 10vh;
  height: 40vh;
  .card {
    height: 100%;
    flex: 1;
    align-self: flex-start;
  }
}
.discs {
  // border: 1px solid white;
  $disc-size: 60px;
  $disc-half-size: 30px;
  width: 100%;
  position: absolute;
  top: calc(35%-#{$disc-half-size});
  left: 0;
  @include flex(row, space-between);
  align-items: flex-start;
  overflow: none;
  z-index: 1;
  .disc {
    width: $disc-size;
    z-index: 1;
    // background: green;
    height: $disc-size;
    border-radius: 50%;
    transform: scale(0);
    transition-property: transform, opacity, background-color;
    transition-duration: $transit-time;
    transition-timing-function: ease-in-out;
  }
}
.bg {
  width: $bg-size;
  height: $bg-size;
  border-radius: 50%;
  z-index: 1;
  transform: scale(0);
  transition: transform $transit-time ease-in-out;
}
