$bg-size: 500px;
$bg-half: 250px;
$icon-size: 46px;
$icon-half: 23px;
$arrow-size: 10px;
#engineer-content {
  top: 215vh;
  @include flex(row, space-between);
  #skills-graph {
    min-width: 70vw;
    min-height: 80vh;
    display: grid;
    grid-template:
      "y-axis title" 1fr
      "y-axis graph" 8fr
      "y-axis x-axis" 1fr/
      1fr 9fr;
  }
  .x-label {
    grid-area: x-axis;
    text-align: center;
  }
  .y-label {
    grid-area: y-axis;
    align-self: center;
    transform: rotateZ(-90deg) translateY(150%);
  }
  .graph-title {
    grid-area: title;
    text-align: center;
  }
  .graph-content {
    grid-area: graph;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    position: relative;
    color: white;

    img,
    i {
      font-size: $icon-size;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
    }
    img {
      width: $icon-size;
      height: auto;
    }
    .graph-icon {
      position: absolute;
      width: $bg-size;
      height: $bg-size;
      h3,
      p {
        position: absolute;
        text-align: center;
        opacity: 0;
        transition: opacity $transit-time ease-in-out;
      }
      p {
        width: 80%;
        left: 10%;
        top: calc(50% + 50px);
      }
      h3 {
        width: 100%;
        top: calc(50% - 100px);
      }
      .img,
      i {
        top: calc(50% - #{$icon-half});
        left: calc(50% - #{$icon-half});
      }
      .bg {
        width: 100%;
        height: 100%;
        background: rgba(120, 0, 120, 0.5);
        border-radius: 50%;
        transform: scale(0);
        transition: transform $transit-time ease-in-out;
      }
      &:hover {
        .bg {
          transform: none;
        }
        p,
        h3 {
          opacity: 1;
        }
      }
    }
    .python {
      left: calc(80% - #{$bg-half});
      top: calc(10% - #{$bg-half});
      .bg {
        background: rgba(0, 120, 120, 0.7);
      }
    }
    .github {
      left: calc(60% - #{$bg-half});
      top: calc(40% - #{$bg-half});
      .bg {
        background: rgba(0, 120, 20, 0.7);
      }
    }
    .fa-html5 {
      left: 90%;
      top: 20%;
    }
    .fa-css3 {
      left: 70%;
      top: 30%;
    }

    .fa-js-square {
      left: 50%;
      top: 50%;
    }
    .fa-sass {
      left: 50%;
      top: 60%;
    }
    .fa-microchip {
      left: 40%;
      top: 70%;
    }
    .c-plus {
      left: 30%;
      top: 20%;
    }
    .matlab {
      left: 10%;
      top: 70%;
    }
    .pcb {
      left: 60%;
      top: 70%;
    }
    .arduino {
      left: 40%;
      top: 40%;
    }
    .right-arrow {
      width: 0;
      height: 0;
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      border-left: $arrow-size solid white;
      position: absolute;
      bottom: -$arrow-size;
      right: -$arrow-size;
    }
    .up-arrow {
      width: 0;
      height: 0;
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
      border-bottom: $arrow-size solid white;
      position: absolute;
      top: -$arrow-size;
      left: -$arrow-size;
    }
  }
}
