$hero-disc-size: 20px;
.hero-container {
  //   border: 1px solid white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 1200ms !important;

  .hero-disc {
    z-index: 2;
    // transition: transform 100ms linear;
    transform-origin: center;
    position: absolute;
    top: calc(50% - #{$hero-disc-size}/ 2);
    left: calc(50% - #{$hero-disc-size}/ 2);
    background: rgba(200, 250, 0, 0.5);
    width: $hero-disc-size;
    height: $hero-disc-size;
    border-radius: 50%;
  }
}
