.left-curve0 {
  color: green;
}
.left-curve1 {
  color: darken(blue, 5%);
}
.left-curve2 {
  color: darken(red, 10%);
}
.left-curve3 {
  color: darken(blue, 15%);
}
.left-curve4 {
  color: darken(red, 20%);
}
.left-curve5 {
  color: darken(blue, 25%);
  // transform: translateY(3rem) !important;
}
.left-curve6 {
  color: darken(red, 30%);
}
.left-curve7 {
  color: darken(blue, 35%);
}
.left-curve8 {
  color: darken(red, 40%);
}
.left-curve9 {
  color: darken(red, 40%);
  color: green;
}

.right-curve0 {
  color: green;
}
.right-curve1 {
  color: darken(red, 5%);
}
.right-curve2 {
  color: darken(red, 10%);
}
.right-curve3 {
  color: darken(red, 15%);
}
.right-curve4 {
  color: darken(red, 20%);
}
.right-curve5 {
  color: darken(red, 25%);
  // transform: translateY(3rem) !important;
}
.right-curve6 {
  color: darken(red, 30%);
}
.right-curve7 {
  color: darken(red, 35%);
}
.right-curve8 {
  color: darken(red, 40%);
}
.right-curve9 {
  color: darken(red, 40%);
  color: green;
}

.book-bg-zoom {
  transform: scaleX(1.5) scaleY(1.5) !important;
}
.page-to-center {
  transform: translate(-50%, -50%) !important;
  // width: 100%;
  // width: 100% !important;
}
// .page-to-up {
//   transform: translateY(-100vh) !important;
// }
.page-to-down {
  transform: translate(-50%, 50%) !important;
  // width: 100% !important;
}
.body-zoomed {
  background: black !important;
  // color: white;
}
// .book-screen-zoomed {
//   //   transform: scale(1.1);
//   flex-direction: column !important;
//   height: fit-content !important;
//   //   As already anwsered, flex-direction can't be animated directly, and browsers "have no idea" how to interpolate the positions of flex items visually during such transition. But you can kind of emulate such transition by transitioning transforms and changing flex-direction on transitionend event (a quick demo to illustrate the idea: http://codepen.io/SelenIT/pen/ZBXrXV/).
// }
// .page-zoomed {
//   //   text-align: center !important;
//   width: 100% !important;
// }
.hidden {
  visibility: hidden;
}
// .shown {
//   visibility: visible !important;
//   display: block !important;
//   transform: none !important;
// }
