.word {
  display: inline-block;
  white-space: nowrap;
}
.book-bg-full {
  transform: scaleX(1.5) scaleY(1.5);
}
.body-full {
  background: black !important;
  transition: background-color $transit-time ease-in-out;
  height: fit-content;
}
.page-to-center {
  transform: translate(-50%, -50%) !important;

  // min-height: 110vh;
  // margin-top: 0;

  // width: 100% !important;
}
.page-to-down {
  transform: translateX(-50%) !important;
  margin-top: 0;
  // width: 100% !important;
}
.full-width {
  width: 100% !important;
  text-align: center;
  justify-items: center;
}
.right-nav-full {
  // align-items: center;
  text-align: center;
}
.left-page-revert {
  transform: translate(-50%, -50%) !important;
}

.transition {
  transition-property: transform, font-size;
  transition-duration: $transit-time;
  transition-timing-function: ease-in-out;
}
.logo-full {
  transform: translateY(-12vh);
}
.lead-full {
  transform: translateY(55vh) !important;
}
.aspiring-full {
  transform: translateY(100vh) !important;
  // border: 1px solid white;
}
.educator-full {
  transform: translateY(110vh) !important;
  transform-origin: center;
  width: 100%;
}
.enlarge-title-small {
  pointer-events: none;
  text-align: center !important;
}
.enlarge-title-large {
  pointer-events: none;
  text-align: center !important;
  font-size: 4.5rem !important;
}

.engineer-full {
  width: 100%;

  transform: translateY(200vh) !important;
  transform-origin: center;
}
.developer-full {
  transform: translateY(375vh) !important;
  transform-origin: center;
  width: 100%;
}
.services-full {
  transform: translateY(495vh) !important;
  transform-origin: center;
  width: 100%;
  // text-align: center;
}
.work-full {
  // border: 1px solid white;
  transform: translateY(605vh) !important;
  // text-align: center;

  width: 100%;
  transform-origin: center;
}
.cv-full {
  transform: translateY(845vh) !important;
  // text-align: center;

  width: 100%;
  transform-origin: center;
}

.hidden {
  // display: none;
  // transform: translateY(-200vh);
  pointer-events: none;
  opacity: 0;
  transition: opacity $transit-time ease-in-out;
}
.shown {
  // max-height: 100%;
  // display: initial;
  // visibility: visible !important;
  pointer-events: all !important;

  opacity: 1 !important;
}
.obscure {
  opacity: 0.1 !important;
  z-index: 0;
  // color: darken(white, 60%);
}
.obscure-borders {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.obscure-arrow-up {
  border-bottom: $arrow-size solid rgba(255, 255, 255, 0.1) !important;
}
.obscure-arrow-right {
  border-left: $arrow-size solid rgba(255, 255, 255, 0.1) !important;
}
.normalize {
  transform: none !important;
  // visibility: visible !important;
  opacity: 1 !important;
}

.book-bg-revert {
  transform: none !important;
}
.disc-enlarge {
  transform: scale(8) !important;
}
.disc-opacity-1 {
  opacity: 0.05;
}
.disc-opacity-2 {
  opacity: 0.1;
}
.disc-opacity-3 {
  opacity: 0.15;
}
.disc-opacity-4 {
  opacity: 0.2;
}
.disc-opacity-5 {
  opacity: 0.25;
}
.disc-opacity-6 {
  opacity: 0.3;
}
.disc-opacity-7 {
  opacity: 0.35;
}
.disc-opacity-8 {
  opacity: 0.4;
}
.disc-opacity-9 {
  opacity: 0.45;
}
.disc-opacity-10 {
  opacity: 0.5;
}
.disc-opacity-11 {
  opacity: 0.55;
}
.disc-opacity-12 {
  opacity: 0.6;
}
.disc-color-1 {
  background-color: rgba(210, 30, 100, 0.7) !important;
}
.disc-color-2 {
  background-color: rgba(190, 30, 120, 0.7) !important;
}
.disc-color-3 {
  background-color: rgba(170, 30, 140, 0.7) !important;
}
.disc-color-4 {
  background-color: rgba(150, 30, 160, 0.7) !important;
}
.disc-color-5 {
  background-color: rgba(130, 30, 180, 0.7) !important;
}
.disc-color-6 {
  background-color: rgba(110, 30, 200, 0.7) !important;
}
.disc-color-7 {
  background-color: rgba(90, 30, 210, 0.7) !important;
}
.disc-color-8 {
  background-color: rgba(70, 30, 220, 0.7) !important;
}
.disc-color-9 {
  background-color: rgba(50, 30, 230, 0.7) !important;
}
.disc-color-10 {
  background-color: rgba(20, 30, 240, 0.7) !important;
}
.disc-color-11 {
  background-color: rgba(0, 30, 255, 0.7) !important;
}
.disc-color-12 {
  background-color: rgba(0, 100, 255, 0.7) !important;
}

.service-right {
  transform: translateY($bg-height) translateX($half-side-length) !important;
}
.service-left {
  transform: translateY($bg-height) translateX(calc(#{$half-side-length} * -1)) !important;
}
.service-wrapper-left {
  transform: scale(1) rotate(0deg) translateX(-80%) !important;
}
.service-wrapper-right {
  transform: scale(1) rotate(0deg) translateX(80%) !important;
}
.service-wrapper-center {
  transform: scale(1) rotate(0deg) translateX(0%) !important;
}
.service-wrapper-bottom {
  transform: scale(1) translateY(30vh) rotate(180deg) !important;
}
// .service-right {
//   transform: translateY(calc(#{$bg-height} - (#{$service-bg-size}/ 2)))
//     translateX($half-side-length) !important;
// }
// .service-left {
//   transform: translateY(calc(#{$bg-height} - (#{$service-bg-size}/ 2)))
//     translateX(calc(#{$half-side-length} * -1)) !important;
// }
.service-top {
  transform: scale(1) !important;
}

.services-red-0 {
  background-color: rgba(255, 50, 150, 0.5) !important;
}
.services-red-1 {
  background-color: rgba(255, 0, 50, 0.5) !important;
}
.services-red-2 {
  background-color: rgba(255, 0, 0, 0.5) !important;
}
.services-green-0 {
  background-color: rgba(50, 250, 150, 0.5) !important;
}
.services-green-1 {
  background-color: rgba(0, 250, 50, 0.5) !important;
}
.services-green-2 {
  background-color: rgba(0, 255, 0, 0.5) !important;
}
.services-blue-0 {
  background-color: rgba(50, 150, 250, 0.5) !important;
}
.services-blue-1 {
  background-color: rgba(0, 50, 250, 0.5) !important;
}
.services-blue-2 {
  background-color: rgba(0, 0, 255, 0.5) !important;
}

.work-text-hover-0 {
  transform: none;
  opacity: 1;
}
.work-text-hover-1 {
  transform: translateX(calc((#{$work-bg-size} / 4) * -1)) scale(0.9);
  opacity: 0.9;
}
.work-text-hover-2 {
  transform: translateX(calc((#{$work-bg-size} / 4) * -2)) scale(0.8);
  opacity: 0.8;
}
.work-text-hover-3 {
  transform: translateX(calc((#{$work-bg-size} / 4) * -3)) scale(0.7);
  opacity: 0.7;
}
.work-text-hover-4 {
  transform: translateX(calc((#{$work-bg-size} / 4) * -4)) scale(0.6);
  opacity: 0.6;
}
.work-text-hover-5 {
  transform: translateX(calc((#{$work-bg-size} / 4) * -5)) scale(0.5);
  opacity: 0.5;
}
.work-text-hover-6 {
  transform: translateX(calc((#{$work-bg-size} / 4) * -6)) scale(0.4);
  opacity: 0.4;
}
.work-text-hover-7 {
  transform: translateX(calc((#{$work-bg-size} / 4) * -7)) scale(0.3);
  opacity: 0.3;
}
.reverse-work-text-hover-1 {
  transform: translateX(calc((#{$work-bg-size} / 4) * 1)) scale(0.9);
  opacity: 0.9;
}
.reverse-work-text-hover-2 {
  transform: translateX(calc((#{$work-bg-size} / 4) * 2)) scale(0.8);
  opacity: 0.8;
}
.reverse-work-text-hover-3 {
  transform: translateX(calc((#{$work-bg-size} / 4) * 3)) scale(0.7);
  opacity: 0.7;
}
.reverse-work-text-hover-4 {
  transform: translateX(calc((#{$work-bg-size} / 4) * 4)) scale(0.6);
  opacity: 0.6;
}
.reverse-work-text-hover-5 {
  transform: translateX(calc((#{$work-bg-size} / 4) * 5)) scale(0.5);
  opacity: 0.5;
}
.reverse-work-text-hover-6 {
  transform: translateX(calc((#{$work-bg-size} / 4) * 6)) scale(0.4);
  opacity: 0.4;
}
.reverse-work-text-hover-7 {
  transform: translateX(calc((#{$work-bg-size} / 4) * 7)) scale(0.3);
  opacity: 0.3;
}

.work-img-hover-0 {
  transform: translateY(-200px);
}
.work-img-hover-1 {
  transform: translateY(-150px) translateX(150px);
}
.work-img-hover-2 {
  transform: translateX(200px);
}
.work-img-hover-3 {
  transform: translateX(150px) translateY(150px);
}
.work-img-hover-4 {
  transform: translateY(200px);
}
.work-img-hover-5 {
  transform: translateY(150px) translateX(-150px);
}
.work-img-hover-6 {
  transform: translateX(-200px);
}
.work-img-hover-7 {
  transform: translateX(-150px) translateY(-150px);
}
.educator-bg-right-0 {
  transform: none;
  background-color: rgba(255, 0, 50, 0.5) !important;
}
.educator-bg-right-1 {
  transform: translateX(-30%);
  background-color: rgba(255, 0, 100, 0.5) !important;
}
.educator-bg-right-2 {
  transform: translateX(-60%);

  background-color: rgba(255, 0, 150, 0.5) !important;
}
.educator-bg-right-3 {
  transform: translateX(-90%);

  background-color: rgba(255, 0, 200, 0.5) !important;
}
.educator-bg-left-0 {
  transform: none;
  background-color: rgba(50, 0, 255, 0.5) !important;
}
.educator-bg-left-1 {
  transform: translateX(30%);
  background-color: rgba(100, 0, 255, 0.5) !important;
}
.educator-bg-left-2 {
  transform: translateX(60%);

  background-color: rgba(150, 0, 255, 0.5) !important;
}
.educator-bg-left-3 {
  transform: translateX(90%);

  background-color: rgba(200, 0, 255, 0.5) !important;
}
.educator-bg-center-2 {
  transform: translateX(110%);
  background-color: rgba(0, 250, 50, 0.5) !important;
}
.educator-bg-center-3 {
  transform: translateX(80%);
  background-color: rgba(0, 250, 100, 0.5) !important;
}
.educator-bg-center-0 {
  transform: translateX(-110%);
  background-color: rgba(0, 250, 150, 0.5) !important;
}
.educator-bg-center-1 {
  transform: translateX(-80%);
  background-color: rgba(0, 250, 200, 0.5) !important;
}

.logo-home {
  font-size: 4rem !important;
}
.lead-home {
  font-size: 1.5rem !important;
}
.aspiring-home {
  font-size: 3rem !important;
  justify-self: left !important;
  text-align: left !important;
}
.left-list-home {
  font-size: 1.5rem !important;
  margin-left: 3rem;
}
.right-list-home {
  font-size: 2.5rem !important;
  // margin-left: 6rem;
}
