#services-content {
  top: 500vh;
  color: white;
  .cards {
    position: relative;
    width: 80%;
    margin: auto;

    height: 80vh;
    border: 1px solid white;
    .card {
      margin: 0;
      padding: 0;
      border: 1px solid white;
      position: absolute;
      text-align: center;
      width: 40%;
      height: 40%;
      top: 0;
      left: 30%;
      &:first-child {
        top: 60%;
        left: 5%;
      }
      &:nth-child(3) {
        top: 60%;
        left: 55%;
      }
    }
    .bgs {
      $services-bg-size: 500px;
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px solid white;
      .services-bg {
        position: absolute;
        top: calc(50% - #{$services-bg-size}/ 2);
        left: calc(50% - #{$services-bg-size}/ 2);
        width: $services-bg-size;
        height: $services-bg-size;
        border-radius: 50%;
      }
      .sbg-1 {
        background: rgba(250, 0, 0, 0.5);
      }
      .sbg-2 {
        background: rgba(0, 250, 0, 0.5);
      }
      .sbg-3 {
        background: rgba(0, 0, 250, 0.5);
      }
    }
  }
}
