@use 'sass:math';
$height: 60vh;
$bg-height: 30vh;
$half-side-length: calc(#{$bg-height} / 1.73205);
$service-bg-size: 600px;
#services-content {
  // top: 500vh;
  .services-wrapper {
    position: relative;
    z-index: 80;
  }
  color: white;
  .cards {
    position: relative;
    width: 100%;
    height: $height;
    @include flex(row, space-around);
    align-items: flex-start;
    .card {
      @include flex(column, flex-start);

      // border: 1px solid white
      height: 100%;
      .card-title {
        margin-bottom: 2rem;
      }
      text-align: center;
      width: 40%;
    }
  }
  .bgs {
    position: absolute;
    top: 0;
    left: 30%;
    height: $bg-height;
    width: 40%;
    // border: 3px solid white;
    transform: scale(0) rotate(180deg);
    transition-property: transform, background-color;
    transition-duration: $transit-time;
    transition-timing-function: ease-in-out;
    // transform-origin: center;
    .services-bg {
      position: absolute;
      top: calc(-#{$service-bg-size}/ 2);
      left: calc(50% - #{$service-bg-size}/ 2);
      width: $service-bg-size;
      height: $service-bg-size;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0);
      // transform: scale(0);
      transition-property: transform, background-color;
      transition-duration: $transit-time;
      transition-timing-function: ease-in-out;
    }
    // .sbg-2 {
    //   transform: translateY(calc(#{$bg-height} - (#{$service-bg-size}/ 2)))
    //     translateX($half-side-length);
    // }
    // .sbg-3 {
    //   transform:  translateY(calc(#{$bg-height} - (#{$service-bg-size}/ 2)))
    //     translateX(calc(#{$half-side-length} * -1));
    // }
  }
}
.enquire-link {
  position: relative;
  width: fit-content;
  margin: auto;
  padding-bottom: 0 3rem 6rem;
  z-index: 100;
}
