$work-bg-size: 500px;
#work-content {
  margin-top: 3rem;
  .lead {
    margin-bottom: 5rem;
  }
}

.work-piece {
  //   border: 1px solid white;
  margin-bottom: 8rem;
  @include flex(row, space-between);
  width: 100%;
  position: relative;
  z-index: 5;
  //   height: 20vh;
  .work-piece-img {
    // border: 1px solid white;

    min-width: 40%;
    max-width: 45%;
    position: relative;
    z-index: 3;
    cursor: pointer;
    img {
      border-radius: 20px;
      position: relative;
      z-index: 3;
      width: 100%;
      height: auto;
    }
    .work-bg-container {
      transition-property: transform, opacity;
      transition-duration: $transit-time;
      transition-timing-function: ease-in-out;
      transform: scale(0);
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      .work-bg {
        transition-property: opacity, transform;
        transition-duration: $transit-time;
        transition-timing-function: ease-in-out;
        position: absolute;
        z-index: 1;
        top: calc(50% - calc(#{$work-bg-size}/ 2));
        left: calc(50% - calc(#{$work-bg-size}/ 2));
        width: $work-bg-size;
        height: $work-bg-size;
        background: rgba(250, 0, 180, 0.5);
        border-radius: 50%;
      }
    }
    .work-bg:nth-child(odd) {
      background: rgba(0, 180, 250, 0.5) !important;
    }
    .john-shot {
      .work-bg {
        background: rgba(250, 213, 0, 0.5);
      }
      .work-bg:nth-child(odd) {
        background: rgba(0, 180, 150, 0.5) !important;
      }
    }
    .news-shot {
      .work-bg {
        background: rgba(250, 0, 255, 0.5);
      }
      .work-bg:nth-child(odd) {
        background: rgba(255, 50, 0, 0.5) !important;
      }
    }
  }
  .work-piece-text {
    // width: 50%;
    position: relative;
    z-index: 5;
    .work-piece-title {
      margin-bottom: 1rem;
    }
    .work-piece-info {
      width: 80%;
      margin: auto;
    }
  }
}
.reverse {
  flex-direction: row-reverse;
}
// .work-piece:first-child {
//   margin: 0rem 0 8rem;
// }
.work-links-container {
  // margin-top: 1rem;
  @include flex(row, center);
  height: fit-content;
  .btn-full {
    margin: 1rem 1rem 0rem;
    height: fit-content;
    @include flex(row, center);

    i,
    a {
      padding: 10px;
    }
  }
  .reverse {
    flex-direction: row-reverse;
  }
}
