.work-piece {
  //   border: 1px solid white;
  @include flex(row, space-between);
  width: 100%;
  position: relative;
  z-index: 5;
  //   height: 20vh;
  .work-piece-img {
    // border: 1px solid white;

    min-width: 40%;
    max-width: 45%;
    position: relative;
    z-index: 3;
    cursor: pointer;
    img {
      border-radius: 20px;
      position: relative;
      z-index: 3;
      width: 100%;
      height: auto;
    }
    .work-bg-container {
      transition-property: transform, opacity;
      transition-duration: $transit-time;
      transition-timing-function: ease-in-out;
      transform: scale(0);
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      .work-bg {
        transition-property: opacity, transform;
        transition-duration: $transit-time;
        transition-timing-function: ease-in-out;
        position: absolute;
        z-index: 1;
        top: calc(50% - 200px);
        left: calc(50% - 200px);
        width: 400px;
        height: 400px;
        background: rgba(250, 0, 180, 0.5);
        border-radius: 50%;
      }
    }
    .work-bg:nth-child(odd) {
      background: rgba(0, 180, 250, 0.5) !important;
    }
  }
  .work-piece-text {
    // width: 50%;
    position: relative;
    z-index: 5;
  }
}
