$work-bg-size: 30vw;
#work-content {
  @extend .container;
  .section-lead {
    margin-bottom: 4rem;
  }
}

.work-piece {
  //   border: 1px solid white;
  height: 40vh;
  margin-bottom: 8rem;
  // max-width: 90vw !important;

  // @include flex(row, space-between);
  display: grid;
  grid-template:
    "title title work-img" 1fr
    "info info work-img" 1fr
    "site-link code-link work-img" 1fr/
    1fr 1fr 2fr;

  // max-width: 100%;
  position: relative;
  z-index: 5;
  text-align: center;
  //   height: 20vh;
  .site-link {
    grid-area: site-link;
  }
  .code-link {
    grid-area: code-link;
  }
  .work-piece-img {
    // border: 1px solid white;
    grid-area: work-img;
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
    z-index: 3;
    // cursor: pointer;
    img {
      border-radius: 20px;
      position: relative;
      z-index: 3;
      width: 100%;
      height: auto;
    }
    .work-bg-container {
      transition-property: transform, opacity;
      transition-duration: $transit-time;
      transition-timing-function: ease-in-out;
      transform: scale(0);
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      .work-bg {
        transition-property: opacity, transform;
        transition-duration: $transit-time;
        transition-timing-function: ease-in-out;
        position: absolute;
        z-index: 1;
        top: calc(50% - calc(#{$work-bg-size}/ 2));
        left: calc(50% - calc(#{$work-bg-size}/ 2));
        width: $work-bg-size;
        height: $work-bg-size;
        background: rgba(250, 0, 180, 0.5);
        border-radius: 50%;
      }
    }
    .work-bg:nth-child(odd) {
      background: rgba(0, 180, 250, 0.5) !important;
    }
    .john-shot {
      .work-bg {
        background: rgba(250, 213, 0, 0.5);
      }
      .work-bg:nth-child(odd) {
        background: rgba(0, 180, 150, 0.5) !important;
      }
    }
    .news-shot {
      .work-bg {
        background: rgba(250, 0, 255, 0.5);
      }
      .work-bg:nth-child(odd) {
        background: rgba(255, 50, 0, 0.5) !important;
      }
    }
  }

  .work-piece-title {
    grid-area: title;

    margin-bottom: 2rem;
  }
  .work-piece-info {
    grid-area: info;
    width: 80%;
    margin: auto;
  }
}
.last {
  margin-bottom: 3rem;
}
.reverse {
  flex-direction: row-reverse;
}
.reverse-piece {
  grid-template:
    "work-img title title " 1fr
    "work-img info info " 1fr
    "work-img site-link code-link " 1fr/
    2fr 1fr 1fr;
}
// .work-piece:first-child {
//   margin: 0rem 0 8rem;
// }

.btn-full {
  margin: 1rem 1rem 0rem;
  height: fit-content;
  @include flex(row, center);

  i,
  a {
    padding: 10px;
  }
}
.reverse {
  flex-direction: row-reverse;
}

.btn-full {
  padding: 15px;
}
