@import "colors";
@import "vars";
@import "funcs";
@import "utils";
@import "menu";

#book-screen,
#social,
#sub-screen {
  width: 90vw;
  margin: 5vh auto;
}
#book-screen,
#social {
  height: 95vh;
}
#book-bg {
  // background: url("../img/book.png") no-repeat center center / contain;
  display: block;
  width: 90%;
  height: 100%;
  margin: auto;
  transition: transform $transit-time-long ease-in-out;
  position: relative;
}
#book-screen {
  color: white;
  margin-top: 3vh;
}
#left-page,
#right-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform $transit-time ease-in-out;
  width: 40%;
  height: 85%;
  z-index: 3;

  @include flex(column, space-between);
  align-items: center;
  padding: 0.25rem;
}
#right-page {
  transform: translateY(-50%);
  // color: yellow;
}

#left-page {
  transform: translate(-100%, -50%);
  text-align: center;
  p {
    text-align: center;
  }
  nav {
    align-self: center;
    ul {
      align-items: center;
    }
    // h2 {
    //   font-size: 2.5rem;
    // }
  }
}

#educator-content,
#engineer-content,
#developer-content,
#services-content {
  position: absolute;
  top: 143vh;

  color: white;
  // border: 1px solid white;
  z-index: 100;
  width: inherit;
  transition: opacity 500ms ease-in-out;
  // position: absolute;
  // transform: scale(0);
  // display: none;
}
#educator-content {
  @include flex(column, space-between);
  .hover-icons-wrapper {
    position: relative;
    .educator-icons-container > div {
      transition-property: opacity, color;
      transition-duration: $transit-time;
      transition-timing-function: ease-in-out;
    }

    .educator-icons-container {
      @include flex(row, space-around);
      .icon-container {
        max-width: 33%;
        @include flex(column, space-between);
        text-align: center;
        padding: 0.5rem 1rem;
      }
    }
    .more-info-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      div,
      p {
        transition-property: transform;
        transition-duration: $transit-time;
        transition-timing-function: ease-in-out;
        position: absolute;
        width: 100%;
        top: 0;
      }
      #more-info-right {
        left: 0;
        max-width: 66%;
        transform: translateX(-100vw);
      }
      #more-info-left {
        right: 0;
        max-width: 66%;
        text-align: right;
        transform: translateX(100vw);
      }
      #more-info-center-left {
        right: 0;
        max-width: 33%;
        text-align: right;
        transform: translateX(100vw);
      }
      #more-info-center-right {
        left: 0;
        max-width: 33%;
        text-align: left;
        transform: translateX(-100vw);
      }
    }
  }
}
@import "engineer";
@import "developer";
@import "services";
#social {
  position: fixed;
  bottom: 0;
  right: 0;
  @include flex(column, flex-end);
  width: 5vw;
}

#main-footer {
  margin-top: 5vh;
  padding: 1rem;
  text-align: center;
  .footer-text {
    font-size: 0.8rem;
  }
}
#aspiring {
  white-space: nowrap;
}

@import "js-additions";
