@import "colors";
@import "vars";
@import "funcs";
@import "utils";
@import "hero";
#book-screen,
#social,
#sub-screen {
  width: 90vw;
  margin: 5vh auto;
}
#book-screen,
#social {
  height: 95vh;
}
#book-bg {
  // background: url("../img/book.png") no-repeat center center / contain;
  display: block;
  width: 90%;
  height: 100%;
  margin: auto;
  transition: transform $transit-time-long ease-in-out;
  position: relative;
}
#book-screen {
  color: white;
  margin-top: 3vh;
}
#left-page,
#right-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform $transit-time ease-in-out;
  width: 40%;
  height: 85%;
  z-index: 3;
  // border: 1px solid white;
  @include flex(column, space-between);
  align-items: center;
  padding: 0.25rem;
  margin-top: 3rem;
}
#right-page {
  transform: translateY(-50%);
  // border: 1px solid white;
  // color: yellow;
}

#left-page {
  transform: translate(-100%, -50%);
  text-align: center;
  p {
    text-align: center;
  }
  nav {
    align-self: center;
    ul {
      align-items: center;
    }
    // h2 {
    //   font-size: 2.5rem;
    // }
  }
}

#educator-content,
#engineer-content,
#developer-content,
#services-content,
#work-content,
#cv-content {
  position: absolute;
  // top: 143vh;

  color: white;
  // border: 1px solid white;
  z-index: 100;
  width: inherit;
  transition: opacity 500ms ease-in-out;
  // position: absolute;
  // transform: scale(0);
  // display: none;
}

@import "educator";
@import "engineer";
@import "developer";
@import "services";
@import "work";
@import "cv";
#social {
  position: fixed;
  bottom: 0;
  right: 0;
  @include flex(column, flex-end);
  width: 5vw;
}
#go-home {
  position: fixed;
  top: 0;
  left: 0;
  i {
    font-size: 3rem;
    color: white;
  }
  opacity: 0;
  transition: opacity $transit-time ease-in-out;
  z-index: 200;
  // border: 1px solid white;
  @include flex(column, center);
  width: 100px;
  height: 100px;
}

#main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 5vh;
  padding: 1rem;
  text-align: center;
  .footer-text {
    font-size: 0.8rem;
  }
}
#logo-home,
#lead,
#aspiring,
#educator,
#educator-title,
.educator-text-container,
#engineer,
#engineer-title,
// #engineer-content,
#engineer-text,
.technical-skills,
.soft-skills,
#developer,
#developer-title,
#developer-text,
#developer-content,
.dev-left,
.dev-center,
.dev-right,
#services,
#services-title,
#services-text,
#services-content,
.services-left,
.services-center,
.services-right,
#work,
#work-text,
#work-title,
#work-content,
#cv, 
#cv-content {
  transition-property: font-size, transform, opacity;
  transition-duration: $transit-time !important;
  transition-timing-function: ease-in-out;
}

#sub-screen {
  // position: relative;
  // z-index: 100;
  header {
    // position: relative;
    // z-index: 100;
    color: black;
    pointer-events: none;
  }
}
@import "js-additions";
