@import "vars";
@import "funcs";
@import "utils";
@import "menu";

#book-screen,
#social,
#sub-screen {
  width: 90vw;
  margin: 5vh auto;
}
#book-screen,
#social {
  height: 95vh;
}
#book-bg {
  // background: url("../img/book.png") no-repeat center center / contain;
  display: block;
  width: 90%;
  height: 100%;
  margin: auto;
  transition: transform $transit-time-long ease-in-out;
  position: relative;
}
#book-screen {
  color: white;
  margin-top: 3vh;
}
#left-page,
#right-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform $transit-time ease-in-out;
  width: 40%;
  height: 85%;
  z-index: 3;

  @include flex(column, space-between);
  align-items: center;
  padding: 0.25rem;
}
#right-page {
  transform: translateY(-50%);
  // color: yellow;
}

#left-page {
  transform: translate(-100%, -50%);
  text-align: center;
  p {
    text-align: center;
  }
  nav {
    align-self: center;
    ul {
      align-items: center;
    }
    // h2 {
    //   font-size: 2.5rem;
    // }
  }
}

#educator-content,
#engineer-content {
  position: absolute;
  top: 143vh;

  color: white;
  // border: 1px solid white;
  z-index: 100;
  width: inherit;
  transition: opacity 500ms ease-in-out;
  // position: absolute;
  // transform: scale(0);
  // display: none;
}
#educator-content {
  @include flex(column, space-between);
  .hover-icons-wrapper {
    position: relative;
    .educator-icons-container > div {
      transition-property: opacity, color;
      transition-duration: $transit-time;
      transition-timing-function: ease-in-out;
    }

    .educator-icons-container {
      @include flex(row, space-around);
      .icon-container {
        max-width: 33%;
        @include flex(column, space-between);
        text-align: center;
        padding: 0.5rem 1rem;
      }
    }
    .more-info-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      div,
      p {
        transition-property: transform;
        transition-duration: $transit-time;
        transition-timing-function: ease-in-out;
        position: absolute;
        width: 100%;
        top: 0;
      }
      #more-info-right {
        left: 0;
        max-width: 66%;
        transform: translateX(-100vw);
      }
      #more-info-left {
        right: 0;
        max-width: 66%;
        text-align: right;
        transform: translateX(100vw);
      }
      #more-info-center-left {
        right: 0;
        max-width: 33%;
        text-align: right;
        transform: translateX(100vw);
      }
      #more-info-center-right {
        left: 0;
        max-width: 33%;
        text-align: left;
        transform: translateX(-100vw);
      }
    }
  }
}

#engineer-content {
  // border: 1px solid white;

  top: 215vh;
  @include flex(row, space-between);
  // align-items: flex-start;
  #skills-graph {
    min-width: 70vw;
    min-height: 80vh;
    display: grid;
    grid-template:
      "y-axis title" 1fr
      "y-axis graph" 8fr
      "y-axis x-axis" 1fr/
      1fr 9fr;
  }
  .x-label {
    grid-area: x-axis;
    text-align: center;
  }
  .y-label {
    grid-area: y-axis;
    align-self: center;
    transform: rotateZ(-90deg) translateY(150%);
  }
  .graph-title {
    grid-area: title;
    text-align: center;
  }
  .graph-content {
    grid-area: graph;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    position: relative;
    color: white;
    $arrow-size: 10px;

    img,
    i {
      font-size: 46px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
    }
    img {
      width: 46px;
      height: auto;
    }
    .python {
      position: absolute;
      width: 500px;
      height: 500px;
      left: calc(80% - 250px);
      top: calc(10% - 250px);
      background: rgba(120, 0, 120, 0.5);
      border-radius: 50%;
      .fa-python {
        margin: auto;
        top: calc(50% - 23px);
        left: calc(50% - 23px);
      }
    }
    .fa-html5 {
      left: 90%;
      top: 20%;
    }
    .fa-css3 {
      left: 70%;
      top: 30%;
    }
    .fa-github {
      left: 60%;
      top: 40%;
    }
    .fa-js-square {
      left: 50%;
      top: 50%;
    }
    .fa-sass {
      left: 50%;
      top: 60%;
    }
    .fa-microchip {
      left: 40%;
      top: 70%;
    }
    .c-plus {
      left: 30%;
      top: 20%;
    }
    .matlab {
      left: 10%;
      top: 70%;
    }
    .pcb {
      left: 60%;
      top: 70%;
    }
    .arduino {
      left: 40%;
      top: 40%;
    }
    .right-arrow {
      width: 0;
      height: 0;
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      border-left: $arrow-size solid white;
      position: absolute;
      bottom: -$arrow-size;
      right: -$arrow-size;
    }
    .up-arrow {
      width: 0;
      height: 0;
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
      border-bottom: $arrow-size solid white;
      position: absolute;
      top: -$arrow-size;
      left: -$arrow-size;
    }
  }
}
#social {
  position: fixed;
  bottom: 0;
  right: 0;
  @include flex(column, flex-end);
  width: 5vw;
}

#main-footer {
  margin-top: 5vh;
  padding: 1rem;
  text-align: center;
  .footer-text {
    font-size: 0.8rem;
  }
}
#aspiring {
  white-space: nowrap;
}

@import "js-additions";
